<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Srajen Singh/eclipse-march/Srajen_SeleniumFramework"><classes><class name="com.srajen.test.createAccount"><methods><include name="createAccount"/></methods></class><class name="com.srajen.test.integratePaymentMethods"><methods><include name="paymentMethods"/></methods></class><class name="com.srajen.test.loginTest"><methods><include name="login"/></methods></class><class name="com.srajen.test.placeOrder"><methods><include name="placeOrder"/></methods></class></classes></test></suite>